[Unit]
Description=Cloudflare-dyndns

[Service]
Type=simple
ExecStart=/home/cole/Code/colemickens/cloudflare-dyndns/bin/cloudflare-dyndns --env
EnvironmentFile=/etc/cloudflare-dyndns/cloudflare-dyndns.config

[Install]
WantedBy=multi-user.target
